$custom-spacers: (
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 10,
);

$spacers: map-merge($spacers, $custom-spacers);

// Section 'hero' configuration (to allow for background image with optimisation)
.heroImage-container {
  position: relative;
  background-color: rgba($primary, 0.3);

  .heroImage-image {
    z-index: 0;
    object-fit: cover;
    object-position: center center;
  }

  .heroImage-content {
    z-index: 1;
    position: relative;
  }
}

// Constrainer
$constrainer-offset: 160px;
$constrainer-width: map-get($container-max-widths, "xxl") + $constrainer-offset;

.constrainer {
  @media (min-width: ($constrainer-width+1px)) {
    border: 1px solid rgba($black, 0.125);
    background-color: $body-bg;
    border-top: 0;
    border-bottom: 0;
    margin: auto;
    width: $constrainer-width;
    &::before,
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
